

/*  minimo ancho hasta version celular */
@media screen and (min-width: 700px) {
    
    .img-dsk{
        display: inline;
    }
    .img-mob{
        display: none;
    }
    .prices{
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
    }
}
/* maximo ancho hasta version escritorio */
@media screen and (max-width: 765px) {
    

    .img-dsk{
        display: none;
    }
    
    .img-mob{
        display: inline;
        width: 10rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        border-bottom-left-radius:.0 ;
        object-fit: cover;
        height: 42vh;
        width: 96%;
    }
    body{
        margin: 5%;
    }
    /* .last-price{
    
        
        align-items: center;
      
    } */

    .prices {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: .4rem;
    }
    .cont-2{
        display: flex;
        align-items: center;
    }
    .last-price{
        display: flex;
        align-items: center;

    }
    .price-style{
        margin-bottom: 1rem;
    }
    main{

        top: 4rem;
        width:18rem ;
        grid-template-columns: 104%;
        grid-template-rows: repeat(2, 20rem);
    }
}